.App {
  background-color: #F2F5FF;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: 'Tahoma';
  
}
:root{
  --w3m-modal-z-index: 9999999999 !important;
}

.mainContent {
  width: 100%;
  transition: 300ms ease-in-out;
  position: relative;
}
.mainContent--expanded {
  margin-left: -4rem;
}


.CookieConsent{
  z-index: 100000 !important;
}

/* For all page right to the navbar */

.mainContainerDiv{
  padding: 1rem;
  border: 1px solid #e0e0e0;
  background-color: #fff!important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1);
  min-height: 30rem;
}

.mainContainerHeader{
  display: flex; 
  justify-content: start;
  align-items: center;
  padding: 10px;
}
.mainContainerHeader h1 { 
  font-size: 30px;
  margin: 0;
}

@media screen and (max-width: 991px) {

  .mainContainer {
    margin-left: 0;
  }
  .mainContent {
    margin-left: 0;
  }
  .mainContent--expanded {
    margin-left: 0;
  }
}