@import "./assets/styles/global.scss";
@import "./assets/styles/reset.scss";

@font-face {
	font-family: "Switzer";
	font-display: swap;
	src: url("./assets/fonts/Switzer-Semibold.woff2") format("woff2"),
		url("./assets/fonts/Switzer-Semibold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Switzer";
	font-display: swap;
	src: url("./assets/fonts/Switzer-Regular.woff2") format("woff2"),
		url("./assets/fonts/Switzer-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Switzer";
	font-display: swap;
	src: url("./assets/fonts/Switzer-Light.woff2") format("woff2"),
		url("./assets/fonts/Switzer-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "Switzer";
	font-display: swap;
	src: url("./assets/fonts/Switzer-Extralight.woff2") format("woff2"),
		url("./assets/fonts/Switzer-Extralight.woff") format("woff");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "Satoshi";
	font-display: swap;
	src: url("./assets/fonts/Satoshi-Bold.woff2") format("woff2"),
		url("./assets/fonts/Satoshi-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Satoshi";
	font-display: swap;
	src: url("./assets/fonts/Satoshi-Black.woff2") format("woff2"),
		url("./assets/fonts/Satoshi-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: $default-font-family;
}

body > * {
	box-sizing: border-box;
}

:root {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  
}

